<!DOCTYPE>
<html>
<head>
    <title>Hello</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:200,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>

    <div class="page title">
        <div class="mask"></div>
        <div class="title-content masktop center">
            <div class="underline">
                <h1>Austin F. Lopez-Gomez</h1>    
            </div>
            <div class="links">
                <a class="inline title-link" href="/professional"><p>Professional</p>
                <a class="inline title-link" href="Technical"><p>Technical</p>
                <a class="inline title-link" href="personal"><p>Personal</p>
            </div>
        </div>
    </div>
</body>
</html>