<!DOCTYPE>
<html>
<head>
    <title>Professional</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:200,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
    <% include nav.ejs %>

    <div class="content">
    	<div class="chunk">
    		<h1>
    			<a target="_blank" href="http://www.kindaright.com">
    				KindaRight
    			</a>
    		</h1>
    		<p>Music Collaboration</p>
    		<p>
    			A working environment for musicians to collaborate on and compose music online.
				KindaRight allows for any musician to upload botht the raw components and mixed/mastered tracks used in a particular piece or composition. Iterations to this piece can then be uploaded and tracked in relation to previous versions. This allows for people to see a visual iterative history of their composition from its inception to its conclusion.
    		</p>
    	</div>

    	<div class="chunk">
    		<h1>
    			<a target="_blank" href="http://www.lightcolours.com">
    				Light Colours Studio
				</a>
    		</h1>
    		<p>Photography</p>
    		<p>
    			A personal photography website that I use to showcase pictures I've taken according to particular themes and ideas I play with in photography.
    			Each section allows for photographs that were taken the with the theme in mind.
    		</p>
    	</div>
    </div>
</body>
</html>