<!DOCTYPE>
<html>
<head>
    <title>Professional</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:200,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
    <% include nav.ejs %>
    <div class="content">
        <div class="chunk">
            <img src="/images/me.jpg" align="top" class="inline profile">
            <div class="inline profile-description">
                <h1 class="inline">See Me on <a target="_blank" href="https://www.linkedin.com/pub/austin-lopez-gomez/3a/a41/570">LinkedIn</a></h1>
                <p>Current Position : Software Developer at Amazon.com, Logistics : Last Mile</p>
                <p>
                    Develop and maintain the android application used by Delivery Associates (DAs) during their delivery.
                    This requires both front-end and back-end knowledge as Dora (The app) is required to sync with back end services to retrieve and update shipping information for particular packages.
                </p>

                <h2>Technologies used</h2>
                <ul>
                    <li>Eclipse IDE</li>
                    <li>Java</li>
                    <li>Android API</li>
                    <li>Oracle DB : SQL</li>
                </ul>
            </div>
        </div>

        <div class="chunk">
            <h1>Microsoft</h1>
            <p>Software Developer : Cortana</p>
            <p>
                Click to edit position descriptionDeveloped for the Cortana team, Microsoft's Digital Personal Assistance. 
                Consolidated social information from several public APIs to help Cortana get to know you and your life.
            </p>

            <h2>Technologies used</h2>
                <ul>
                    <li>Microsoft Visual Studio</li>
                    <li>C#</li>
                    <li>Node JS</li>
                </ul>
        </div>

        <div class="chunk">
            <h1>Microsoft</h1>
            <p>Software Developer in Test : Vulcan</p>
            <p>
                I developed a better infrastructure for testing an internal API used to write tools and binaries.
            </p>

            <h2>Technologies used</h2>
                <ul>
                    <li>Microsoft Visual Studio</li>
                    <li>C#</li>
                    <li>Vulcan API</li>
                </ul>
        </div>
        <div class="chunk">
            <h1>Intel</h1>
            <p>Software Developer : XEON PHI</p>
            <p>
                Click to edit position descriptionWorking within MIC drivers (Many integrated cores) to help improve methods of Shared Memory management within the 
                Xeon Phi co-processor.
            </p>

            <h2>Technologies used</h2>
                <ul>
                    <li>Xeon Phi API</li>
                    <li>C/C++</li>
                </ul>
        </div>

        <div class="chunk">
            <h1>ID Tech</h1>
            <p>Instructor : Java & C++</p>
            <p>
                Click to edit position descriptionI taught kids between the ages of 12 - 15 the fundamentals of Java and C++. Each week each student would make a program to showcase at the end of the week.
            </p>

            <h2>Technologies used</h2>
                <ul>
                    <li>Eclipse IDE</li>
                    <li>Java</li>
                    <li>C++</li>
                    <li>Fusion Game creator</li>
                </ul>
        </div>

    </div>
</body>
</html>