<!DOCTYPE>
<html>
<head>
    <title>Professional</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:200,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
    <div class="page info">
        <% include includes/nav.ejs %>
    </div>
</body>
</html>